*{

}
body{
    background-color:#E3170AFF;
}
.html a{
    color: #A9E5BBFF;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    font-size: 30px;
}
.html{
    color:#F7B32BFF;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    
}